/* General */
body {
    background-image: url(../images/curls.png);
    font-family: 'Russo One', sans-serif;
}

header{
    color: white;
    text-align: center;
    font-size: 28px;
    text-decoration: underline;
    letter-spacing: 5%;

}

.container{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid white;
    position: fixed;
    height: 565px;
    width: 1150px;
    margin-left: 12%;
    margin-top: -1%;

}

.question{
    background: white;
    border: 5px solid black;
    width: 985px;
    font-size: 38px;
    text-align:center;
    margin-left: 7%;
}

.answer{
    font-size: 32px;
    width: 60%;
    text-align:center;
    cursor: pointer;
    transition: background-color .25s;
}
.answer:hover{
    background-color: white;
}

.answerBG{
    background-color: rgb(65, 164, 225);
    border: 5px solid rgba(19, 243, 7, 0.857);
    margin-left: 20%;
}

.result{
    background: white;
    border: 5px solid black;
    width:975px;
    margin-bottom: 10px;
    margin-left:7%;
    font-size: 38px;
    text-align:center;
}

.timer{
    font-size: 28px;
    text-align: center;
    background: greenyellow;
    border: 5px dotted red;
    width: 16%;
    margin-left:41%;
}

.complete{
    background: white;
    border: 5px solid black;
    width:975px;
    margin-bottom: 10px;
    margin-left:7%;
    text-align: center;
    font-size: 36px;
}

.endResult{
    background: white;
    border: 5px solid black;
    width:975px;
    margin-bottom: 10px;
    margin-left:7%;
    text-align: center;
    font-size: 36px;
}


/* Images */
.correctPic{
    height:350px;
    width:500px;
    margin-left: 27%;
    border: 5px solid black;
}

.incorrectPic{
    height:350px;
    width:500px;
    margin-left: 27%;
    border: 5px solid black;
}

.outOfTimePic{
    height:350px;
    width:500px;
    margin-left: 27%;
    border: 5px solid black;
}

/* Buttons/Mechanics */
#startButton{
    height: 135px;
    width: 250px;
    font-size: 36px;
    margin-left: 38.5%;
    margin-top:16%;
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
    border: 5px solid black;
    transition: background-color .25s;
}

#startButton:hover{
    background-color: red;
}

#restartButton{
    font-size: 24px;
    height: 90px;
    width:220px;
    margin-left:39%;
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
    border: 5px solid black;
    transition: background-color .25s;
}

#restartButton:hover{
    background-color: rgb(20, 81, 20);
}
/* Media Query */
@media screen and (max-width: 820px){
    .header{
        text-align: center;
        margin-left:4px;
        width: 800px;
        overflow-wrap: hidden;
    }
    .container{
        width: 628px;
        margin-left:10%
    }
    #startButton{
        margin-left:30.5%;
        margin-top:30%;
    }
    .timer{
        font-size: 28px;
        text-align: center;
        background: greenyellow;
        border: 5px dotted red;
        width: 42%;
        margin-left:30%;
    }
    .question{
        background: white;
        border: 5px solid black;
        width: 608px;
        font-size: 20px;
        text-align:center;
        margin-left: 1%;
    }
    .result{
        background: white;
        border: 5px solid black;
        width:400px;
        margin-bottom: 10px;
        margin-left:18%;
        font-size: 28px;
        text-align:center;
    }
    .correctPic{
        height:250px;
        width:400px;
        margin-left: 18%;
        border: 5px solid black;
    }
    
    .incorrectPic{
        height:250px;
        width:400px;
        margin-left: 18%;
        border: 5px solid black;
    }
    .outOfTimePic{
        height:250px;
        width:400px;
        margin-left: 18%;
        border: 5px solid black;
    }
    .answer{
        font-size: 26px;
        width: 60%;
        margin-top:36px;
        text-align:center;
        cursor: pointer;
        transition: background-color .25s;
    }
    .complete{
        background: white;
        border: 5px solid black;
        width:400px;
        margin-bottom: 10px;
        margin-left:18%;
        text-align: center;
        font-size: 22px;
    }
    .endResult{
        background: white;
        border: 5px solid black;
        width:400px;
        margin-bottom: 10px;
        margin-left:18%;
        text-align: center;
        font-size: 22px;
    }
    #restartButton{
        font-size: 24px;
        height: 54px;
        width:220px;
        margin-top:36px;
        margin-left:33.5%;
        font-family: 'Russo One', sans-serif;
        cursor: pointer;
        border: 5px solid black;
    }
    }
@media screen and (max-width: 640px){
.header{
    text-align: center;
    margin-left:4px;
    width: 600px;
    overflow-wrap: hidden;
}
.container{
    width: 480px;
    margin-left:8.5%;
}
#startButton{
    margin-left:25.5%;
    margin-top:40%;
}
.timer{
    font-size: 28px;
    text-align: center;
    background: greenyellow;
    border: 5px dotted red;
    width: 42%;
    margin-left:30%;
}
.question{
    background: white;
    border: 5px solid black;
    width: 460px;
    font-size: 20px;
    text-align:center;
    margin-left: 1%;
}
.result{
    background: white;
    border: 5px solid black;
    width:400px;
    margin-bottom: 10px;
    margin-left:7%;
    font-size: 28px;
    text-align:center;
}
.correctPic{
    height:250px;
    width:400px;
    margin-left: 7%;
    border: 5px solid black;
}

.incorrectPic{
    height:250px;
    width:400px;
    margin-left: 7%;
    border: 5px solid black;
}
.outOfTimePic{
    height:250px;
    width:400px;
    margin-left: 7%;
    border: 5px solid black;
}
.answer{
    font-size: 26px;
    width: 60%;
    text-align:center;
    cursor: pointer;
    transition: background-color .25s;
}
.complete{
    background: white;
    border: 5px solid black;
    width:400px;
    margin-bottom: 10px;
    margin-left:7%;
    text-align: center;
    font-size: 22px;
}
.endResult{
    background: white;
    border: 5px solid black;
    width:400px;
    margin-bottom: 10px;
    margin-left:7%;
    text-align: center;
    font-size: 22px;
}
#restartButton{
    font-size: 24px;
    height: 90px;
    width:220px;
    margin-left:28%;
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
    border: 5px solid black;
}
}
@media screen and (max-width: 500px){
    .header{
        text-align: center;
        margin-left:45px;
        width: 400px;
        overflow-wrap: hidden;
    }
    .container{
        width: 380px;
        height: 500px;
        margin-left:9%
        
    }
    #startButton{
        margin-left:28.5%;
        margin-top:52%;
        font-size:20px;
        height: 57px;
        width:170px;
    }
    .timer{
        font-size: 18px;
        text-align: center;
        background: greenyellow;
        border: 5px dotted red;
        width: 42%;
        margin-left:30%;
    }
    .question{
        background: white;
        border: 5px solid black;
        width: 362px;
        font-size: 20px;
        text-align:center;
        margin-left: 1%;
    }
    .result{
        background: white;
        border: 5px solid black;
        width:324px;
        margin-bottom: 10px;
        margin-left:7%;
        font-size: 28px;
        text-align:center;
    }
    .correctPic{
        height:250px;
        width:325px;
        margin-left: 7%;
        border: 5px solid black;
    }
    
    .incorrectPic{
        height:250px;
        width:325px;
        margin-left: 7%;
        border: 5px solid black;
    }
    .outOfTimePic{
        height:250px;
        width:325px;
        margin-left: 7%;
        border: 5px solid black;
    }
    .answer{
        font-size: 20px;
        width: 60%;
        margin-top:40px;
        text-align:center;
        cursor: pointer;
        transition: background-color .25s;
    }
    .complete{
        background: white;
        border: 5px solid black;
        width:318px;
        margin-bottom: 10px;
        margin-left:7%;
        text-align: center;
        font-size: 22px;
    }
    .endResult{
        background: white;
        border: 5px solid black;
        width:318px;
        margin-bottom: 10px;
        margin-left:7%;
        text-align: center;
        font-size: 22px;
    }
    #restartButton{
        font-size: 24px;
        height: 68px;
        width:200px;
        margin-top:24px;
        margin-left:25%;
        font-family: 'Russo One', sans-serif;
        cursor: pointer;
        border: 5px solid black;
    }
    }
    @media screen and (max-width: 300px){
        .header{
            text-align: center;
            font-size: 24px;
            margin-left:32px;
            width: 228px;
            overflow-wrap: hidden;
        }
        .container{
            width: 216px;
            height: 420px;
            margin-left:9%
            
        }
        #startButton{
            margin-left:12.5%;
            margin-top:68%;
            font-size:16px;
            height: 57px;
            width:170px;
        }
        .timer{
            font-size: 18px;
            text-align: center;
            background: greenyellow;
            border: 5px dotted red;
            width: 42%;
            margin-left:30%;
        }
        .question{
            background: white;
            border: 5px solid black;
            width: 202px;
            font-size: 12px;
            text-align:center;
            margin-left: 1%;
        }
        .result{
            background: white;
            border: 5px solid black;
            width:324px;
            margin-bottom: 10px;
            margin-left:7%;
            font-size: 28px;
            text-align:center;
        }
        .correctPic{
            height:250px;
            width:325px;
            margin-left: 7%;
            border: 5px solid black;
        }
        
        .incorrectPic{
            height:250px;
            width:325px;
            margin-left: 7%;
            border: 5px solid black;
        }
        .outOfTimePic{
            height:250px;
            width:325px;
            margin-left: 7%;
            border: 5px solid black;
        }
        .answer{
            font-size: 15px;
            width: 60%;
            margin-top:30px;
            text-align:center;
            cursor: pointer;
            transition: background-color .25s;
        }
        .complete{
            background: white;
            border: 5px solid black;
            width:318px;
            margin-bottom: 10px;
            margin-left:7%;
            text-align: center;
            font-size: 22px;
        }
        .endResult{
            background: white;
            border: 5px solid black;
            width:318px;
            margin-bottom: 10px;
            margin-left:7%;
            text-align: center;
            font-size: 22px;
        }
        #restartButton{
            font-size: 24px;
            height: 68px;
            width:200px;
            margin-top:24px;
            margin-left:25%;
            font-family: 'Russo One', sans-serif;
            cursor: pointer;
            border: 5px solid black;
        }
        }
    


